*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #fff;
    font-family: cursive;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.box{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    padding: 30px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 10px 0;
}

.box h1, h4 {
    margin: 10px 0 20px;
}

.box input, .btn-gen{
    margin: 10px 0;
    height: 40px;
    border: none;
    outline: none;
}

input{
    padding: 0 0 0 25%;
    background-color: #eee;
    border-radius: 20px;
    letter-spacing: 5px;
    transition: 0.3s;
}

input:focus{
    padding: 0 0 0 10%;
    letter-spacing: 2px;
}

.btn-gen{
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 0.3s;
    cursor: pointer;
}

.btn-gen:hover{
    background-color: #ddd;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}